@import url('../../../../styles/common.module.css');

/* BOT */
.botContainer {
    width: 100%;
    min-height: 96px;
    padding: 15px 55px;
    flex-shrink: 0;
    background: var(--BlackNavy);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hrefs {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.hrefs a svg {
    margin-right: 35px;
}

.hrefs a {
    color: var(--DimGrey);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
}

.hrefs a:hover {
    color: var(--LightGrey);
}

.btnLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}

/* TOP */
.topContainer {
    width: 100%;
    min-height: 300px;
    flex-shrink: 0;
    background: var(--DarkNavy);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftBlock {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.rightBlock {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.block {
    width: 159px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--LightGrey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.topText {
    color: var(--DarkNavy);

    font-family: Space Mono;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.446px;
}

.botText {
    color: var(--DarkNavy);

    font-family: Space Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.893px;
}

.leftText {
    width: 415px;
    color: var(--White);
    word-spacing: 30px;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
}