@import url('../../../styles/common.module.css');

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--White);
    width: 100%;
    min-height: 180px;
    padding: 5px 165px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.direction {
    color: var(--White);

    font-family: 'Space Mono';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
}